<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BugSwitch</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>com.bugswitch.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>com.bugswitch.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>three</servlet-name>
    <servlet-class>com.bugswitch.adminlogdisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>three</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>four</servlet-name>
    <servlet-class>com.bugswitch.adminloging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>four</servlet-name>
    <url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>five</servlet-name>
    <servlet-class>com.bugswitch.errorInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>five</servlet-name>
    <url-pattern>/errorReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>six</servlet-name>
    <servlet-class>com.bugswitch.retriveError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>six</servlet-name>
    <url-pattern>/retriveerror</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seven</servlet-name>
    <servlet-class>com.bugswitch.expertdispaly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seven</servlet-name>
    <url-pattern>/expertlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eight</servlet-name>
    <servlet-class>com.bugswitch.expertsolution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eight</servlet-name>
    <url-pattern>/expertsolution</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nine</servlet-name>
    <servlet-class>com.bugswitch.abcde</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nine</servlet-name>
    <url-pattern>/abcde</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ten</servlet-name>
    <servlet-class>com.bugswitch.expertreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ten</servlet-name>
    <url-pattern>/expertreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t11</servlet-name>
    <servlet-class>com.bugswitch.svm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t11</servlet-name>
    <url-pattern>/svm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>errorrequest</servlet-name>
    <servlet-class>com.bugswitch.errorrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>errorrequest</servlet-name>
    <url-pattern>/errorrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminrequestadd</servlet-name>
    <servlet-class>com.bugswitch.adminrequestadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminrequestadd</servlet-name>
    <url-pattern>/adminrequestadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Load</servlet-name>
    <servlet-class>read.dataset.Load</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Load</servlet-name>
    <url-pattern>/Load</url-pattern>
  </servlet-mapping>
</web-app>